* {
    box-sizing: border-box;
}

body {
    background-color:
        #131bab;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
}


/*! ---------- HEADER ------- */

.header {
    text-align: center;
    margin: 0 10em;
}

.header h1 {
    font-family: 'Lato', sans-serif;
    font-size: 4em;
    color: white;
    background-color: #c0392b;
    border: 3px solid white;
    border-style: groove;

}

.subheader {
    color: white;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1.5px 1.5px black;
}


/*! ------- MAIN ------- */

.title-img-wrapper {
    display: flex;
    justify-content: center;
}

#title-img {
    width: 600px;
    object-fit: contain;
}


.wrapper2 {
    display: flex;
    justify-content: center;

}

#button-play {
    height: 5em;
    width: 10em;
    margin: 5em;
    background-color: #f9a827;
}

.turn {
    text-align: center;
}

/*! ------- GRID ------- */

.grid-wrapper {
    display: flex;
    justify-content: center;

}

.grid-container {
    border: 3px solid black;
    display: grid;
    grid-template-areas:
        "block1 block7 block13 block19 block25 block31"
        "block2 block8 block14 block20 block26 block32"
        "block3 block9 block15 block21 block27 block33"
        "block4 block10 block16 block22 block28 block34"
        "block5 block11 block17 block23 block29 block35"
        "block6 block12 block18 block24 block30 block36";
    gap: 1px black;

}


/** ------- RESPONSIVE GRID ------- */

@media (max-width: 800px) {
    .grid-container {
        grid-template-areas:
            "block1 block13 block25"
            "block2 block14 block26"
            "block3 block15 block27"
            "block4 block16 block28"
            "block5 block17 block29"
            "block6 block18 block30"
            "block7 block19 block31"
            "block8 block20 block32"
            "block9 block21 block33"
            "block10 block22 block34"
            "block11 block23 block35"
            "block12 block24 block36"
    }
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-areas:
            "block1 block19"
            "block2 block20"
            "block3 block21"
            "block4 block22"
            "block5 block23"
            "block6 block24"
            "block7 block25"
            "block8 block26"
            "block9 block27"
            "block10 block28"
            "block11 block29"
            "block12 block30"
            "block13 block31"
            "block14 block32"
            "block15 block33"
            "block16 block34"
            "block17 block35"
            "block18 block36"
    }
}

.grid-block {
    border: 1px solid black;
    text-align: center;
    width: 100%;

}

#block1 {
    grid-area: block1;

}

#block2 {
    grid-area: block2;
}

#block3 {
    grid-area: block3;
}

#block4 {
    grid-area: block4;
}

#block5 {
    grid-area: block5;
}

#block6 {
    grid-area: block6;
}

#block7 {
    grid-area: block7;
}

#block8 {
    grid-area: block8;
}

#block9 {
    grid-area: block9;
}

#block10 {
    grid-area: block10;
}

#block11 {
    grid-area: block11;
}

#block12 {
    grid-area: block12;
}

#block13 {
    grid-area: block13
}

#block14 {
    grid-area: block14
}

#block15 {
    grid-area: block15
}

#block16 {
    grid-area: block16
}

#block17 {
    grid-area: block17
}

#block18 {
    grid-area: block18
}

#block19 {
    grid-area: block19
}

#block20 {
    grid-area: block20
}

#block21 {
    grid-area: block21
}

#block22 {
    grid-area: block22
}

#block23 {
    grid-area: block23
}

#block24 {
    grid-area: block24
}

#block25 {
    grid-area: block25
}

#block26 {
    grid-area: block26
}

#block27 {
    grid-area: block27
}

#block28 {
    grid-area: block28
}

#block29 {
    grid-area: block29
}

#block30 {
    grid-area: block30
}

#block31 {
    grid-area: block31
}

#block32 {
    grid-area: block32
}

#block33 {
    grid-area: block33
}

#block34 {
    grid-area: block34
}

#block35 {
    grid-area: block35
}

#block36 {
    grid-area: block36
}

/*! ------- USER INPUT ------- */

.form1 {
    background-color: #ecf0f1;
    text-align: center;
    border-radius: 1em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


.user-input {
    display: flex;
    justify-content: center;
    background-color: #131bab;
    padding: 2em;
}

.input-button-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 1em;
}

.input-button-container input[type=button] {
    margin: 1em 1em;
}

input[type=text] {
    margin-top: 2em;
    padding: 5px;
}

.text-input:focus {
    border-color:  rgba(226, 13, 13, 0.64);
    outline: 0;
}

/**BUTTONS */

#play-btn{
 margin: 2em;
}

.input-btn {
    align-items: center;
    appearance: none;
    background-color: #c0392b;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.input-btn:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.input-btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.input-btn:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}


.grid-button {
    background-color: #020978;
    color:
        #d7a14a;
    width: 20vh;
    height: 12vh;
    font-size: 45px;
    font-family: 'Oswald', sans-serif;
    text-shadow: 2.5px 2.5px black;


}

.grid-button-category {
    color: white;
    font-size: 25px;
    text-align: center;
    max-width: 100%;

}

.btn-round{
 margin: 0 0 1em 0;
    background-color: #f9a827;

}

.button-wrapper{
    display: flex;
    justify-content: center;
}

/** FINAL JEOPARDY FORM------*/

.form2{
    background-color: #ecf0f1;
    padding: 5px;
    border: 1px solid black;
    text-align: center;
    border-radius: 1em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  
}
.form-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 25%;
    
}

.col {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.final-form {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
   background-color: aliceblue;

  }

  .form-item {
    margin: 10px;
    text-align: center;
  } 

  .final-question {
    text-align: center;
    background-color: #020978;
    padding: 3em;
  }

  .bet-btn-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }

  .final-cat-text{
    font-family: 'Oswald', sans-serif;
    text-shadow: 2.5px 2.5px black;
    color:
    #d7a14a;
    font-size: 4vh;
  }

  .final-q-text{
    font-family: 'Oswald', sans-serif;
    text-shadow: 2.5px 2.5px black;
    color:white;
    font-size: 2.5vh;
  }

/*! ------- SCORE ------- */

.player-score {
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1.5px 1.5px gray;
    font-size: 1em;
    color: white;
    background-color: #f9a827;
}

/*! ------- FOOTER ------- */

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #131bab;
    padding-top: 1px;
    font-family: 'Roboto', sans-serif;
    color: gray;
    font-size: 1em;
}