body {
    background-color: 
    #131bab;
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
}

/* ------- HEADER ------- */

.header {
    text-align: center;
    margin-bottom: 2em;
}

.header h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 4em;
    background: -webkit-linear-gradient(#bf95bf, #fcf6ba, #b38728, #fbf5B7, #aa771c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* ------- MAIN ------- */

.title-img-wrapper{
    display: flex;
    justify-content: center;
    }

#title-img {
    width: 600px;
    object-fit: contain;
}



.wrapper2 {
    display: flex;
    justify-content: center;

}

#button-play {
    height: 5em;
    width: 10em;
    margin: 5em;
    background-color: #f9a827;
}

/* ------- FOOTER ------- */

footer {
    text-align: center;
    background-color: blueviolet;
    height: 10vh;
    margin: 0;
   
}

/* ------- TESTING OF BUTTON------- */

/* CSS */
.button-play {
  margin: 2em;  
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 5em;
  width: 10em;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-play:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-play:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-play:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
